.feed{
    flex:0.7;
    border-right: 1px solid var(--twitter-background);
    overflow-y:  scroll;
}
/* Hide scrollbar for chrome,safari and opera */
.feed::-webkit-scrollbar{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed__header{
    display: flex;
    /* flex-direction: column; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px
}
.feed__header > input{
    margin-left:4px;
    border: 1px solid var(--twitter-background);
}
.search_icon{
    /* margin-top: 5px; */
    margin-left: auto;
    width:20px;
    border-radius: 100%;
    /* height:px; */
}
.search_tweetButton
{
    background-color: white;
    border: none;
    color: var(--twitter-color);
    /* font-weight: 700; */
    /* text-transform: inherit; */
    border-radius: 100%;
    /* width: 100px; */
    /* height: 30px; */
    /* margin-top:18px;  */
    margin-left: auto;
}
.search_tweetButton:hover{
    background-color: #e8eefaf3;
    border-radius: 100%;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}