.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.profilepic > img{
    margin-bottom:auto;
    margin-right: 2px;
    width:2rem;
    height:2rem;
    border-radius: 50%;
}
.post__headerText{
    display: flex;
}
.post__headerText > h3{
    padding-left: 3px;
}
.post__body{
    flex: 0.8;
    padding: 10px;
    width: 50%;
}
.post__headerDescription{
    margin-top: 3px;
    margin-left:7%;
    position: relative;
    word-wrap: break-word;
    /* word-break: break-all; */
}
.Sentiment_positive{
    border: 1px solid var(--twitter-background);
    background-color: #e8feea;
    border-radius: 25px;
    color: #1fc42c;
    margin: auto 0;
}
.Sentiment_positive > p{
    padding: 0 1rem;
}

.Sentiment_negative{
    border: 1px solid var(--twitter-background);
    background-color: #fee8e8;
    border-radius: 25px;
    color: #c41f1f;
    margin: auto 0;
}
.Sentiment_negative > p{
    padding: 0 0.5rem;
}

@media screen and (max-width: 767px) {
    .post__headerText > h3 {
        font-size: 1rem;
    }
}