.logo{
    margin-bottom:9px;
    width:20px;
    height:10px;
}
.sidebar{
    border-right: 1px solid var(--twitter-background);
    margin-left: 5rem;
    flex: 20%;
}
.twitter_icon{
    width:40px;
    height:40px;
    margin: 2rem 1rem;
}

@media screen and (max-width: 767px) {
    .sidebar{
        margin-left: 0;
    }
    
}