.tweetBox{
    padding-bottom: 10px;
    border-bottom: 5px solid var(--twitter-background);
    padding-right: 10px;
    display: flex;
    padding: 20px;
}
.tweetBox__input {
    flex: 0.725;
}
.tweetBox__input > input{
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    border: none;
    width: max-content;
}
.tweetbox_tweetButton {
    flex: 0.225;
}
.tweetbox_tweetButton > button
{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    height: 2rem;
    align-items: center;
    padding: 0 1rem;
}
.tweetbox_tweetButton > button:hover{
    background-color: #3676f5f3;
    transition: color 100ms ease-out;
}

@media screen and (max-width: 767px) {
    .tweetBox{
        margin-top: 2.5rem;
    }
    
}